extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 Computer Not Working?
          p
            | difpidsg i aprh epirgiep gawpro hpoarhp  arigaoi grea pahrpar pdsfbpdbp sph pesihsphpso hp h hpseohpohrarhpaosh pohaprhpshr phasrpohap hposrh
          p
            a.btn.btn-success.btn-lg(href="#") Read More
        .col-md-5
          img(src="images/computer-repair.jpg")
  .row
   .col-md-4
     .card
       h4 Hardware Problems?
       p
         | ipphdhp pfpoh pohperersehiorh areraprhp awparpearphh arjapwhrp harp pharpe eratawt
   .col-md-4
     .card
       h4 Software Problems?
       p
         | ipphdhp pfpoh pohperersehiorh areraprhp awparpearphh arjapwhrp harp pharpe ewtw etwe
   .col-md-4
     .card
       h4 PC Tune Up
       p
         | ipphdhp pfpoh pohperersehiorh areraprhp awparpearphh arjapwhrp harp pharpe  igiu
